openapi: 3.1.0
info:
  # version: 1.0.0
  title: API Documentation
  contact:
    email: contact@karlia.com
    url: 'https://karlia.fr'
  x-logo:
    url: 'https://i.ibb.co/2YRmPqB/Logo-Karlia.png'
    altText: Logo Karlia
  description:
    $ref: ./info-description.md
tags:
  - name: Customers
    description: This section lists all customer-related APIs.
  - name: Suppliers
    description: This section lists all supplier-related APIs.
  - name: Contacts
    description: This section lists all contact-related APIs.
  - name: Opportunities
    description: This section lists all opportunity-related APIS.
  - name: Products
    description: This section lists all product-related APIS.
  - name: Events
    description: This section lists all event-related APIS.
  - name: Notes
    description: This section lists all note-related APIS.
  - name: Tasks
    description: This section lists all task-related APIS.
  - name: Times
    description: This section lists all time-related APIS.
  - name: Projects
    description: This section lists all project-related APIS.
  - name: Users
    description: This section lists all user-related APIS.
servers:
  - url: 'https://karlia.fr/app/api/v2'
paths:
  /customers:
    $ref: paths/customers/customers.yaml
  /customers/{id}:
    $ref: paths/customers/customers@{id}.yaml
  /customers/custom-fields:
    $ref: paths/customers/customers@custom_fields.yaml
  /customers/custom-fields/{field_id}:
    $ref: paths/customers/customers@custom_fields@{field_id}.yaml
  /customers/{id}/custom-fields/{field_id}:
    $ref: paths/customers/customers@{id}@custom_fields@{field_id}.yaml 
  /suppliers:
    $ref: paths/suppliers/suppliers.yaml
  /suppliers/{id}:
    $ref: paths/suppliers/suppliers@{id}.yaml
  /suppliers/custom-fields:
    $ref: paths/suppliers/suppliers@custom_fields.yaml
  /suppliers/custom-fields/{field_id}:
    $ref: paths/suppliers/suppliers@custom_fields@{field_id}.yaml
  /suppliers/{id}/custom-fields/{field_id}:
    $ref: paths/suppliers/suppliers@{id}@custom_fields@{field_id}.yaml
  /contacts:
    $ref: paths/contacts/contacts.yaml
  /contacts/{id}:
    $ref: paths/contacts/contacts@{id}.yaml
  /contacts/custom-fields:
    $ref: paths/contacts/contacts@custom_fields.yaml
  /contacts/custom-fields/{field_id}:
    $ref: paths/contacts/contacts@custom_fields@{field_id}.yaml
  /contacts/{id}/custom-fields/{field_id}:
    $ref: paths/contacts/contacts@{id}@custom_fields@{field_id}.yaml
  /opportunities:
    $ref: paths/opportunities/opportunities.yaml
  /opportunities/{id}:
    $ref: paths/opportunities/opportunities@{id}.yaml
  /opportunities/custom-fields:
    $ref: paths/opportunities/opportunities@custom_fields.yaml
  /opportunities/custom-fields/{field_id}:
    $ref: paths/opportunities/opportunities@custom_fields@{field_id}.yaml
  /opportunities/{id}/custom-fields/{field_id}:
    $ref: paths/opportunities/opportunities@{id}@custom_fields@{field_id}.yaml
  /opportunities/pipelines:
    $ref: paths/opportunities/opportunities@pipelines.yaml
  /opportunities/pipelines/{id}/columns:
    $ref: paths/opportunities/opportunities@pipelines@{id}@columns.yaml
  /opportunities/status:
    $ref: paths/opportunities/opportunities@status.yaml
  /opportunities/status-lost:
    $ref: paths/opportunities/opportunities@status_lost.yaml
  /opportunities/status-canceled:
    $ref: paths/opportunities/opportunities@status_canceled.yaml
  /products:
    $ref: paths/products/products.yaml
  /products/{id}:
    $ref: paths/products/products@{id}.yaml
  /products/custom-fields:
    $ref: paths/products/products@custom_fields.yaml
  /products/custom-fields/{field_id}:
    $ref: paths/products/products@custom_fields@{field_id}.yaml
  /products/{id}/custom-fields/{field_id}:
    $ref: paths/products/products@{id}@custom_fields@{field_id}.yaml
  /products/{id}/cost-price: 
    $ref: paths/products/products@{id}@cost_price.yaml
  /products/{id}/sell-price: 
    $ref: paths/products/products@{id}@sell_price.yaml 
  /products/sells-prices-categories: 
    $ref: paths/products/products@sells_prices_categories.yaml
  /products/categories:
    $ref: paths/products/products@categories.yaml
  /products/categories/{id}:
    $ref: paths/products/products@categories@{id}.yaml
  /products/vat:
    $ref: paths/products/products@vat.yaml
  /products/units:
    $ref: paths/products/products@units.yaml
  /events:
    $ref: paths/events/events.yaml
  /events/{id}:
    $ref: paths/events/events@{id}.yaml
  /events/types:
    $ref: paths/events/events@types.yaml
  /notes:
    $ref: paths/notes/notes.yaml
  /notes/{id}:
    $ref: paths/notes/notes@{id}.yaml
  /tasks:
    $ref: paths/tasks/tasks.yaml
  /tasks/{id}:
    $ref: paths/tasks/tasks@{id}.yaml
  /tasks/types:
    $ref: paths/tasks/tasks@types.yaml
  /times/types:
    $ref: paths/times/types.yaml
  /projects:
   $ref: paths/projects/projects.yaml
  /projects/{id}:
   $ref: paths/projects/projects@{id}.yaml
  /projects/status:
   $ref: paths/projects/projects@status.yaml
  /projects/{id}/tasks:
   $ref: paths/projects/projects@{id}@tasks.yaml
  /projects/tasks/status:
   $ref: paths/projects/projects@tasks@status.yaml
  /projects/{id}/tasks/status:
   $ref: paths/projects/projects@{id}@tasks@status.yaml
  /projects/{id}/tasks/phases:
   $ref: paths/projects/projects@{id}@tasks@phases.yaml
  /projects/tasks/priorities:
   $ref: paths/projects/projects@tasks@priorities.yaml
  /users:
    $ref: paths/users/users.yaml
  /users/groups:
    $ref: paths/users/groups.yaml
  /users/list-with-groups:
    $ref: paths/users/users_with_groups.yaml
components:
  securitySchemes:
    Bearer token:
      description: >
        In order to log in, you need to generate an API key via the Karlia website:  <br />
          1. Sign in with your existing account. <br />
          2. Once logged in, click on your initial in the upper right corner.  <br />
          3. Select "Settings".  <br />
          4. In the "API" section, click on the "Use API" button. Then a unique API key will then be generated.  <br /> <br />

        The API use Bearer Authorization in request header.
      type: http
      scheme: bearer
      bearerFormat: xxxxxx-xxxxxx-xxxx-xxxxxx-xxxxxx
